# FastAPI
PROJECT_NAME=movies
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
ELASTIC_HOST=127.0.0.1
ELASTIC_PORT=9200
ELASTIC_SCHEMA=http://
CACHE_EXPIRE_IN_SECONDS=300

# PostgreSQL (контейнер theatre-db)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=theatre

# ETL → PostgreSQL
DB_NAME=theatre
DB_USER=postgres
DB_PASSWORD=secret
DB_HOST=theatre-db
DB_PORT=5432

# ETL → Elasticsearch
ES_HOST=elasticsearch
ES_PORT=9200

# ETL settings
BATCH_SIZE=100
STATE_FILE_PATH=/opt/app/state/state.json
POLL_INTERVAL=60
